<?xml version="0.0" ?>
<robot name="bowl.urdf">

  <material name="yellow">
    <color rgba="1 1 0.4 1"/>
  </material>
  <material name="teal">
    <color rgba="0 .5 .5 1"/>
  </material>

  <link name="world"/>

  <link name="base">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value=".1"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <box size="1 1 1"/> -->
        <mesh filename="roboverse/envs/assets/objects/bowl/base.dae" scale=".7 .7 .7"/>
      </geometry>
       <material name="teal"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -.3"/>
      <geometry>
	 			<box size="1.2 1.2 .1"/>
      </geometry>
    </collision>
    <collision>
      <!-- right -->
      <origin rpy="0 0 0" xyz="0 -.45 0"/>
      <geometry>
        <box size="1 .05 .6"/>
      </geometry>
    </collision>
    <collision>
      <!-- left -->
      <origin rpy="0 0 0" xyz="0 .45 0"/>
      <geometry>
        <box size="1 .05 .6"/>
      </geometry>
    </collision>
    <collision>
      <!-- front -->
      <origin rpy="0 0 0" xyz=".45 0 0"/>
      <geometry>
        <box size=".05 1 .6"/>
      </geometry>
    </collision>
    <collision>
      <!-- back -->
      <origin rpy="0 0 0" xyz="-.45 0 0"/>
      <geometry>
        <box size=".05 1 .6"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>

</robot>

